div.login-header{
    background-color: #343b40;
    height:30vh;
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


div.blue-card{
    border: 5px solid #009cd8;
    margin: 1em;
    max-width: 90vw;
}

div.login-card{
    width: 20rem;
}

div.blue-card-header{
    background-color: #009cd8;
    color:white;
    margin:0;
    border-radius: 0;
}

span.text-blue{
    color: #009cd8;
}

.card-header:first-child{
    border-radius: 0px;
}